In [60]:
import pandas as pd
df = pd.read_csv("sensor.csv")
df = df.sort_values(by = 'Measurement')

In [61]:
df = df.sort_values(by= 'Measurement')
df.describe()

        Measurement
count  10005.000000
mean      54.885320
std       25.943999
min        0.000000
25%       32.250000
50%       54.980000
75%       77.190000
max      219.340000

In [62]:
Q1=dataset.quantile(0.25)
Q3=dataset.quantile(0.75)
Q1, Q3

(Measurement    32.25
 Name: 0.25, dtype: float64,
 Measurement    77.19
 Name: 0.75, dtype: float64)

In [63]:
Q1 = Q1.values[0]
Q3 = Q3.values[0]

In [64]:
IQR = Q3 - Q1
IQR

44.94

In [65]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
lower_limit, upper_limit

(-35.16, 144.6)

In [66]:
dataset[(df.Measurement < (Q1 - (1.5*IQR))) | (df.Measurement > (Q3 + (1.5*IQR)))]

<ipython-input-66-ec79cf54d666>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  dataset[(df.Measurement < (Q1 - (1.5*IQR))) | (df.Measurement > (Q3 + (1.5*IQR)))]

      Measurement
9685       219.34